@import "./responsive.scss";

.layout {
  //   background-color: aqua;
  max-width: 1366px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 20px;

  @include lg {
    background-color: rgb(247, 210, 196);
    max-width: 1280px;
  }

  @include md {
    background-color: rgb(186, 203, 234);
    max-width: 768px;
  }

  @include sm {
    background-color: rgb(186, 234, 186);
    max-width: 640px;
  }
}
